services:
  tailscale-derp:
    container_name: tailscale-derp
    image: ghcr.io/neanc/derpinchina:latest
    hostname: ${TAILSCALE_DERP_HOSTNAME}  # 设置容器的主机名为环境变量 `TAILSCALE_DERP_HOSTNAME`
    volumes:
      - /lib/modules:/lib/modules:ro                                          # 只读方式挂载主机的 `/lib/modules` 目录
      - ./config:/var/lib/tailscale                                           # 挂载当前目录下的 `config` 目录到容器的 `/var/lib/tailscale`
      - /var/run/tailscale/tailscaled.sock:/var/run/tailscale/tailscaled.sock # 挂载本地 Tailscale 到容器中
    cap_add:       # 为容器添加特定的 Linux 功能权限
      - NET_ADMIN  # 添加 NET_ADMIN 权限，允许管理网络
      - NET_RAW    # 添加 NET_RAW 权限，允许直接访问网络设备
    environment:
      - TAILSCALE_DERP_HOSTNAME=${TAILSCALE_DERP_HOSTNAME}              # 设置 DERP 主机名
      - TAILSCALE_DERP_ADDR=${TAILSCALE_DERP_ADDR}                      # 设置 DERP 监听地址
      - TAILSCALE_DERP_STUN_PORT=${TAILSCALE_DERP_STUN_PORT}            # 设置 STUN 端口
      # - TAILSCALE_AUTH_KEY=${TAILSCALE_AUTH_KEY}                      # 设置 Tailscale 的认证密钥，可选
      - TAILSCALE_DERP_VERIFY_CLIENTS=${TAILSCALE_DERP_VERIFY_CLIENTS}  # 是否验证客户端
    ports:
      - 404:404/tcp
      - 3478:3478/udp
    restart: unless-stopped
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
      - derper-proxy

networks:
  derper-proxy:
    external: true
